
.footer{
    margin: 5rem 1rem 1rem 1rem;
    background-color: black;
    height: 15rem;
    display: flex; 
}

.contacticons{
color: white;
margin: 4rem 1rem 5rem 65rem;

}
.icon{
    padding: 0.5rem;
}

.text{
    margin-top: 1rem;
}

@media only screen and (max-width: 990px) {
 
    .footer{
       max-width: 100%;
       background-color: black;
       height: 10rem;
       display: flex; 
       overflow: hidden;
       margin-left: 20px;
          
   }
           
    .contacticons{
       color: white;
       margin-left: 80% ;
   
    } 


@media only screen and (max-width: 320px) {

   
.footer{
  
    background-color: black;
    height: 10rem;
    display: flex; 
    padding-left: 220%;
}

.contacticons{
    color: white;
    margin: 30px 60px;
        } 
    }

 @media only screen and (max-width: 425px) {

   
     .footer{
         background-color: black;
         height: 10rem;
         display: flex; 
         width: 100%;
         padding-left: 220%;
        }
        
        .contacticons{
            color: white;
            margin: 30px 60px;
                } 
            }

 @media only screen and (max-width: 600px) {

   
        .footer{
          background-color: black;
          height: 20rem;
          display: flex; 
          padding-left: 160%;
        }
            }
                
        .contacticons{
            color: white;
        
                        } 
                       

  
  @media only screen and (max-width: 768px) {
 
   
    .footer{
        background-color: black;
        height: 10rem;
        display: flex; 
        overflow: hidden;
       padding-left: 110%;
       
    }
    
    .contacticons{
        color: white;
        margin-left: -500px;
            } 
        }    

    
                }          
 @media only screen and (max-width: 1300px) {
 
     .footer{
       max-width: 100%;
       background-color: black;
       height: 15rem;
       display: flex; 
       overflow: hidden;
                }
                    
     .contacticons{
        color: white;
        float: right;
            } 
                 }   
