body{
    margin: 0;
    padding:0;
}
.container{
    display:flex;
    margin: 50px 150px;
}
.image-section{
    margin-top: 20px;
    width:400px;
    height: 300px;
    
}
.content{
    background-color: #0186A3;
    width: 700px;
    height: 520px;
}
.loginform{
    margin: 100px 60px;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-size: 18px;
    color: #ffff;
  }
  input{
    padding: 15px;
    width: 80%;
    background : none;
    border: 1px solid #ffff; 
    border-radius: 18px;
  }

  #button{
    margin: 15px 120px;
    font-size: 15px;
    width: 180px;
    padding:15px;
    border-radius: 20px;
    background-color: #ffff;
    border-color: none;
  }
 .password a{
    text-decoration: none;
    color: red;
    font-size: 16px;
    margin: 30px 150px;
 }
.paragraph{
    margin-left: 150px;
    padding: 20px;
}
.paragraph a{
    text-decoration: none;
    color: red;
}
img{
    width: 400px;
    height: 520px;
    margin: -20px ;
}
.headings{
    margin-top: -115%;
    padding-left: 80px;
}
.image-logo img{
    height: 120px;
    width: 120px;
    margin-top: -100px;
    padding-left: 50px;

}